# Telegram Bot Token (получить у @BotFather)
BOT_TOKEN=8954352821:AAHcRBybSWyXpJws0sHvM7Fd7dTt-9GFQyI

# Список Telegram ID администраторов через запятую
ADMIN_IDS=6891114489

# Список Telegram ID работников через запятую
WORKER_IDS=33333333,44444444

# URL Mini App (должен быть https)
MINI_APP_URL=https://your-domain.com

# Настройки базы данных
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=alpinist_bot

# Или SQLite для теста: DATABASE_URL=sqlite:///./test.db
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost/alpinist_bot